In [9]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,PROCESS_DATE,OS_ONBS,OS_ONBS_L3M,OS_ONBS_L6M,AVG_OS_ONBS,AVG_OS_ONBS_L3M,AVG_OS_ONBS_L6M,OS,OS_L3M,OS_L6M,AVG_OS,AVG_OS_L3M,AVG_OS_L6M,OS_REVL,OS_NON_REVL,OS_REVL_L6M,OS_NON_REVL_L6M,AVG_OS_REVL,AVG_OS_NON_REVL,AVG_OS_REVL_L6M,AVG_OS_NON_REVL_L6M,MAX_OS_ONBS_L6M,VOL_OS_L6M,NUM_CR_PRODUCT,NUM_CR_PRODUCT_L3M,MTH_DBT_SVC,MTH_DBT_SVC_L3M,MTH_DBT_SVC_L6M,MOB,IS_MOB_6M,CNT_MTH_ONBS_L3M,CNT_MTH_ONBS_L6M,CNT_MTH_ONBS_L12M,COLL_VAL,COLL_VAL_CTR,TOTAL_COLL_L3M,TOTAL_COLL_CTR_L3M,AVG_COLL_COVR_OS_ONBS_L3M,CUST_LMT,COLL_COVR_LMT,AVG_OS_ONBS_UTIL_L3M,REVL_UTL_RT,AVG_REVL_UTL_RT_L3M,REVL_LMT,OS_BOND,OS_BOND_L3M,OS_BOND_L6M,AVG_OS_BOND,AVG_OS_BOND_L3M,AVG_OS_BOND_L6M,OS_MM,OS_MM_L3M,OS_MM_L6M,AVG_OS_MM,AVG_OS_MM_L3M,AVG_OS_MM_L6M,OS_NON_ONBS,OS_NON_ONBS_L3M,OS_NON_ONBS_L6M,AVG_OS_NON_ONBS,AVG_OS_NON_ONBS_L3M,AVG_OS_NON_ONBS_L6M"
query = text("SELECT {} FROM DMT.VW_IFRS9_CST_LN WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CST_LN'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

In [10]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,AC_AR_DIM_ID,LINE_ID,MAIN_LINE_ID,CCY_DIM_ID,LIMIT_CURRENCY,APPROVAL_DATE,EXPIRY_DATE,ADVISED_AMOUNT,LIMIT_GROUP,LIMIT_TYPE,REVOLVING_TYPE,UTILIZED_LIMIT,UNDRAWN_LIMIT,TYPE,RECORD_STATUS"
query = text("SELECT {} FROM DMT.VW_IFRS9_LIMIT WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_LIMIT'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

In [1]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,IP_STATUS,CUSTOMER_TYPE,CG_SEGMENT,FIRST_ACC_OPEN_DATE,MTH_IN_REL,YR_IN_REL,AGE,EDUCATION,ACCOMMODATION_ADDR,MARITAL_STATUS,YR_IN_BUSSINESS,FS_ASSET,FS_SALES,DATE_OF_BIRTH,CUSTOMER_RATING,PD_RATING,LAST_B1X_DATE,LAST_B2X_DATE,LN_CLASS_TPBANK,LN_CIC_CLASS,MAX_LN_CLASS_L3M,DPD,DPD_RSK_PNY,DPD_STCH,NUM_XDPD_L6M,NUM_30DPD_L6M,MTH_SNC_B2X_L6M,MTH_SNC_XDPD_L6M,BAN_NO,WRITE_OFF,EXT_NBR,COVID19"
query = text("SELECT {} FROM DMT.VW_IFRS9_CUST_INFO WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CUST_INFO'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

In [ ]:
#CUST_INFO
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,IP_STATUS,CUSTOMER_TYPE,CG_SEGMENT,FIRST_ACC_OPEN_DATE,MTH_IN_REL,YR_IN_REL,AGE,EDUCATION,ACCOMMODATION_ADDR,MARITAL_STATUS,YR_IN_BUSSINESS,FS_ASSET,FS_SALES,DATE_OF_BIRTH,CUSTOMER_RATING,PD_RATING,LAST_B1X_DATE,LAST_B2X_DATE,LN_CLASS_TPBANK,LN_CIC_CLASS,MAX_LN_CLASS_L3M,DPD,DPD_RSK_PNY,DPD_STCH,NUM_XDPD_L6M,NUM_30DPD_L6M,MTH_SNC_B2X_L6M,MTH_SNC_XDPD_L6M,BAN_NO,WRITE_OFF,EXT_NBR,COVID19"

In [2]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,PROCESS_DATE,HAV_TPBS_ACC,USE_PAY_ROLL,TD_BAL,TD_BAL_L3M,TD_BAL_L6M,TD_BAL_AVG,TD_BAL_L3M_AVG,TD_BAL_L6M_AVG,TD_BAL_ONL_AVG,TD_BAL_LEGACY_AVG,TD_BAL_ONL_LEGACY_AVG,CA_BAL,CA_BAL_L3M,CA_BAL_L6M,CA_BAL_AVG,CA_BAL_L3M_AVG,CA_BAL_L6M_AVG,MIN_CA_BAL_L6M,CA_TD_BAL_LEGACY,CA_TD_BAL_LEGACY_L3M,CA_TD_BAL_LEGACY_L6M,AVG_CA_TD_LEGACY_BAL,AVG_CA_TD_BAL_LEGACY_L3M,AVG_CA_TD_BAL_LEGACY_L6M,AVG_CA_TD_BAL_LGY_L3M_VS_L6M,AVG_CA_TD_BAL_LGY_OS_ONBS_L3M,AVG_CA_TD_BAL_LGY_DBT_SVC_L6M,TOTAL_BAL,TOTAL_BAL_AVG,BAL_L6M,AVG_BAL_L6M"
query = text("SELECT {} FROM DMT.VW_IFRS9_DEP_AMT WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_DEP_AMT'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

for i, chunk in enumerate(df_chunks):
    print(f"Processing chunk {i + 1}/{len(df_chunks)}")
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

print("Data import completed.")

Processing chunk 1/5
Processing chunk 2/5
Processing chunk 3/5
Processing chunk 4/5
Processing chunk 5/5
Data import completed.

In [3]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,PROCESS_DATE,MONTH_ID,CST_DIM_ID,CUSTOMER_ID,TXN_AMT,TXN_AMT_L3M,AVG_TXN_AMT_L1M,AVG_TXN_AMT_L3M,AVG_TXN_AMT_L1M_VS_L3M,CASH_TXN_AMT,CASH_TXN_AMT_L3M,AVG_CASH_VS_TXN_AMT_L1M,AVG_CASH_VS_TXN_AMT_L3M,AVG_CASH_TXN_AMT_PER_TIME_L3M,EBANK_TXN_AMT,AVG_EBANK_TXN_AMT_L3M,AVG_SAL_TXN_AMT_L3M,MIN_SAL_TXN_AMT_L3M,CASH_CR_TXN_AMT,CASH_CR_TXN_AMT_L3M,CASH_DR_TXN_AMT,CASH_DR_TXN_AMT_L3M,AVG_CASH_CR_TXN_AMT_L3M,AVG_CASH_DR_TXN_AMT_L3M,CR_TXN_AMT,CR_TXN_AMT_L3M,DR_TXN_AMT,DR_TXN_AMT_L3M,NET_FLOW_TXN_AMT,MAX_NET_FLOW_TXN_AMT_L3M,AVG_CASH_CR_TXN_AMT_COVR_L3M,AVG_CR_TXN_AMT_VS_OS_L3M,SERVICE_AMT,MIN_SERVICE_AMT_L3M,NUM_CASH_TXN,NUM_NON_CASH_TXN,TOTAL_NUM_TXN,TOTAL_NUM_TXN_L3M,TOTAL_NUM_NON_CASH_TXN_L3M,AVG_NUM_NON_CASH_TXN_CVR_L3M"
query = text("SELECT {} FROM DMT.VW_IFRS9_DEP_AMT_TXN WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_DEP_AMT_TXN'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

In [6]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,CLT_DIM_ID,COLLATERAL_ID,COLLATERAL_TP,COLLATERAL_CATEGORY_CODE,COLLATERAL_CATEGORY_DESC,DESCRIPTION,TINH_THANH,CCY_DIM_ID,CCY,COLL_VAL,COLL_VAL_TPB,ORG_DT,LAST_DT,REVISION_DATE,EXPIRE_DATE,MATURITY_DATE,CUSTOMER_SHARE,CUST_SHARE_VALUE,COLLATERAL_AGE,COLLATERAL_STATUS,UNDER_CONSTRUCTION,COVENANT_NAME,HAIRCUT,LIMIT_CTB, RI_TYPE_ID"
query = text("SELECT {} FROM DMT.VW_IFRS9_COLLATERAL WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_COLLATERAL'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 500000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

In [11]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "MONTH_ID,RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD,MTH_SNC_30DPD,MTH_SNC_60DPD,MTH_SNC_90DPD,NUM_TM_10DPD,NUM_TM_30DPD,NUM_TM_60DPD,NUM_TM_90DPD,AVG_UTIL_CC_RATE,PROCESS_DATE"
query = text("SELECT {} FROM DMT.VW_IFRS9_CST_CC WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CST_CC'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Split the DataFrame into smaller chunks (e.g., 1 million rows per chunk)
chunk_size = 1000000
df_chunks = [df[i:i + chunk_size] for i in range(0, len(df), chunk_size)]

# Import each chunk to MSSQL
for chunk in df_chunks:
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot insert the value NULL into column 'CUSTOMER_ID', table 'EWS.dbo.IFRS9_CST_CC'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO [IFRS9_CST_CC] (month_id, rpt_dt_dim_id, cst_dim_id, customer_id, cycle_end_date, bal_at_cycle_end, bal_at_end_month, gross_payment_lagged, gross_payment_inmonth, avg_cc_pmt_vs_stm_bal, avg_cc_amt, nbr_used_cc, mth_snc_10dpd, mth_snc_30dpd, mth_snc_60dpd, mth_snc_90dpd, num_tm_10dpd, num_tm_30dpd, num_tm_60dpd, num_tm_90dpd, avg_util_cc_rate, process_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((202401.0, 20240131.0, 53084966.0, '10239377', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 109975.0, 0.0, 0.0, 0.0, 3547.58, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 53112459.0, '10237313', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 30000.0, 0.0, 0.0, 0.0, 967.741, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 53111706.0, '10253328', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 52937369.0, '10183148', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 1019125.0, 0.0, 0.0, 0.0, 32875.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.003, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 53247551.0, '10309350', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 52937806.0, '06844064', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 55724564.0, '11382307', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 53508587.0, '10397167', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 1107681.0, 0.0, 0.0, 0.0, 35731.645, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.003, datetime.datetime(2024, 1, 31, 0, 0))  ... displaying 10 of 1000000 total bound parameter sets ...  (202401.0, 20240131.0, 58670142.0, '04028549', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.datetime(2024, 1, 31, 0, 0)), (202401.0, 20240131.0, 58677159.0, '06618221', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 476695.0, 0.0, 0.0, 0.0, 15377.258, 1.0, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.001, datetime.datetime(2024, 1, 31, 0, 0)))]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [12]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
column = "PROCESS_DATE,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,GROSS_PAYMENT_LAGGED_1M,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD_DT_L6,MTH_SNC_30DPD_DT_L6,MTH_SNC_60DPD_DT_L6,MTH_SNC_90DPD_DT_L6,MTH_SNC_10DPD_L6,MTH_SNC_30DPD_L6,MTH_SNC_60DPD_L6,MTH_SNC_90DPD_L6,NUM_TM_10DPD_L6,NUM_TM_30DPD_L6,NUM_TM_60DPD_L6,NUM_TM_90DPD_L6,AVG_UTIL_CC_RATE,AVG_UTIL_CC_RATE_L3M,AVG_UTIL_CC_RATE_L6M,NBR_TXN_CC,NBR_TXN_CC_L3M,NBR_TXN_CC_L6M,NBR_CASH_TXN,NBR_CASH_TXN_L3M,NBR_CASH_TXN_L6M,CASH_TXN_RT,CASH_TXN_L3M_RT,CASH_TXN_L6M_RT,NBR_POS_TXN,NBR_POS_TXN_L3M,NBR_POS_TXN_L6M,POS_TXN_RT,POS_TXN_L3M_RT,POS_TXN_L6M_RT,NBR_ONL_TXN,NBR_ONL_TXN_L3M,NBR_ONL_TXN_L6M,ONL_TXN_RT,ONL_TXN_L3M_RT,ONL_TXN_L6M_RT,CASH_AMT_TXN_L3M,CASH_AMT_TXN_L6M,POS_AMT_TXN_L3M,POS_AMT_TXN_L6M,ONL_AMT_TXN_L3M,ONL_AMT_TXN_L6M,CASH_AMT_TXN,POS_AMT_TXN,ONL_AMT_TXN"
query = text("SELECT {} FROM DMT.VW_IFRS9_CST_CC_TXN WHERE PROCESS_DATE = '2024-01-31'".format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CST_CC_TXN'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Specify your batch size
batch_size = 100000
for chunk in pd.read_sql_query(query, engine, chunksize=batch_size):
    # Push each batch to MSSQL
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

print("Data import completed.")

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot insert the value NULL into column 'CUSTOMER_ID', table 'EWS.dbo.IFRS9_CST_CC_TXN'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO [IFRS9_CST_CC_TXN] (process_date, customer_id, cycle_end_date, bal_at_cycle_end, bal_at_end_month, gross_payment_lagged, gross_payment_inmonth, gross_payment_lagged_1m, avg_cc_pmt_vs_stm_bal, avg_cc_amt, nbr_used_cc, mth_snc_10dpd_dt_l6, mth_snc_30dpd_dt_l6, mth_snc_60dpd_dt_l6, mth_snc_90dpd_dt_l6, mth_snc_10dpd_l6, mth_snc_30dpd_l6, mth_snc_60dpd_l6, mth_snc_90dpd_l6, num_tm_10dpd_l6, num_tm_30dpd_l6, num_tm_60dpd_l6, num_tm_90dpd_l6, avg_util_cc_rate, avg_util_cc_rate_l3m, avg_util_cc_rate_l6m, nbr_txn_cc, nbr_txn_cc_l3m, nbr_txn_cc_l6m, nbr_cash_txn, nbr_cash_txn_l3m, nbr_cash_txn_l6m, cash_txn_rt, cash_txn_l3m_rt, cash_txn_l6m_rt, nbr_pos_txn, nbr_pos_txn_l3m, nbr_pos_txn_l6m, pos_txn_rt, pos_txn_l3m_rt, pos_txn_l6m_rt, nbr_onl_txn, nbr_onl_txn_l3m, nbr_onl_txn_l6m, onl_txn_rt, onl_txn_l3m_rt, onl_txn_l6m_rt, cash_amt_txn_l3m, cash_amt_txn_l6m, pos_amt_txn_l3m, pos_amt_txn_l6m, onl_amt_txn_l3m, onl_amt_txn_l6m, cash_amt_txn, pos_amt_txn, onl_amt_txn) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((datetime.datetime(2024, 1, 31, 0, 0), '10984260', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (datetime.datetime(2024, 1, 31, 0, 0), '02160081', datetime.datetime(2024, 1, 11, 0, 0), 21485000.0, 671750.0, 0.0, 0.0, 0.0, 0.0, 21669.354, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.001, 0.026, 0.012, 4.0, 59.0, 139.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 57.0, 131.0, 1.0, 1.0, 1.0, 4.0, 57.0, 131.0, 1.0, 1.0, 1.0, 0.0, 0.0, 31218698.0, 88290744.0, 31218698.0, 88290744.0, 0.0, 1307500.0, 1307500.0), (datetime.datetime(2024, 1, 31, 0, 0), '04075859', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 5592335.0, 0.0, 0.0, 0.0, 0.0, 180397.903, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.018, 0.051, 0.014, 32.0, 77.0, 153.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 16.0, 44.0, 82.0, 1.0, 1.0, 1.0, 16.0, 44.0, 82.0, 1.0, 1.0, 1.0, 0.0, 0.0, 7205255.0, 14088816.0, 7205255.0, 14088816.0, 0.0, 2111276.0, 2111276.0), (datetime.datetime(2024, 1, 31, 0, 0), '03274978', datetime.datetime(2024, 1, 11, 0, 0), 11000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 6.0, 0.0, 0.666, 0.5, 0.0, 4.0, 6.0, 0.0, 0.666, 0.5, 0.0, 0.0, 924000.0, 1448000.0, 924000.0, 1448000.0, 0.0, 0.0, 0.0), (datetime.datetime(2024, 1, 31, 0, 0), '02948111', datetime.datetime(2024, 1, 11, 0, 0), 100000000.0, 17224544.0, 0.0, 0.0, 0.0, 0.0, 555630.451, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.005, 0.005, 0.0, 5.0, 5.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 4.0, 4.0, 1.0, 0.333, 0.166, 4.0, 4.0, 4.0, 1.0, 0.333, 0.166, 0.0, 0.0, 37738000.0, 37738000.0, 37738000.0, 37738000.0, 0.0, 37738000.0, 37738000.0), (datetime.datetime(2024, 1, 31, 0, 0), '11847616', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), (datetime.datetime(2024, 1, 31, 0, 0), '07367285', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.166, 0.0, 0.0, 5.0, 0.0, 0.0, 0.166, 0.0, 0.0, 0.0, 677084.0, 0.0, 677084.0, 0.0, 0.0, 0.0), (datetime.datetime(2024, 1, 31, 0, 0), '06176460', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 177765.0, 0.0, 0.0, 0.0, 0.0, 5734.354, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.005, 0.001, 0.0, 7.0, 23.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 12.0, 0.0, 0.333, 0.666, 0.0, 4.0, 12.0, 0.0, 0.333, 0.666, 0.0, 0.0, 260698.0, 738009.0, 260698.0, 738009.0, 0.0, 0.0, 0.0)  ... displaying 10 of 100000 total bound parameter sets ...  (datetime.datetime(2024, 1, 31, 0, 0), '11938828', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 13.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 8.0, 0.0, 0.666, 0.666, 0.0, 4.0, 8.0, 0.0, 0.666, 0.666, 0.0, 0.0, 975339.0, 1779178.0, 975339.0, 1779178.0, 0.0, 0.0, 0.0), (datetime.datetime(2024, 1, 31, 0, 0), '07731088', datetime.datetime(2024, 1, 11, 0, 0), 10000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None))]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
#LIMIT
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,AC_AR_DIM_ID,LINE_ID,MAIN_LINE_ID,CCY_DIM_ID,LIMIT_CURRENCY,APPROVAL_DATE,EXPIRY_DATE,ADVISED_AMOUNT,LIMIT_GROUP,LIMIT_TYPE,REVOLVING_TYPE,UTILIZED_LIMIT,UNDRAWN_LIMIT,TYPE,RECORD_STATUS"
#DEP_AMT
column = "RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,PROCESS_DATE,HAV_TPBS_ACC,USE_PAY_ROLL,TD_BAL,TD_BAL_L3M,TD_BAL_L6M,TD_BAL_AVG,TD_BAL_L3M_AVG,TD_BAL_L6M_AVG,TD_BAL_ONL_AVG,TD_BAL_LEGACY_AVG,TD_BAL_ONL_LEGACY_AVG,CA_BAL,CA_BAL_L3M,CA_BAL_L6M,CA_BAL_AVG,CA_BAL_L3M_AVG,CA_BAL_L6M_AVG,MIN_CA_BAL_L6M,CA_TD_BAL_LEGACY,CA_TD_BAL_LEGACY_L3M,CA_TD_BAL_LEGACY_L6M,AVG_CA_TD_LEGACY_BAL,AVG_CA_TD_BAL_LEGACY_L3M,AVG_CA_TD_BAL_LEGACY_L6M,AVG_CA_TD_BAL_LGY_L3M_VS_L6M,AVG_CA_TD_BAL_LGY_OS_ONBS_L3M,AVG_CA_TD_BAL_LGY_DBT_SVC_L6M,TOTAL_BAL,TOTAL_BAL_AVG,BAL_L6M,AVG_BAL_L6M"
#DEP_AMT_TXN
column = " RPT_DT_DIM_ID,PROCESS_DATE,MONTH_ID,CST_DIM_ID,CUSTOMER_ID,TXN_AMT,TXN_AMT_L3M,AVG_TXN_AMT_L1M,AVG_TXN_AMT_L3M,AVG_TXN_AMT_L1M_VS_L3M,CASH_TXN_AMT,CASH_TXN_AMT_L3M,AVG_CASH_VS_TXN_AMT_L1M,AVG_CASH_VS_TXN_AMT_L3M,AVG_CASH_TXN_AMT_PER_TIME_L3M,EBANK_TXN_AMT,AVG_EBANK_TXN_AMT_L3M,AVG_SAL_TXN_AMT_L3M,MIN_SAL_TXN_AMT_L3M,CASH_CR_TXN_AMT,CASH_CR_TXN_AMT_L3M,CASH_DR_TXN_AMT,CASH_DR_TXN_AMT_L3M,AVG_CASH_CR_TXN_AMT_L3M,AVG_CASH_DR_TXN_AMT_L3M,CR_TXN_AMT,CR_TXN_AMT_L3M,DR_TXN_AMT,DR_TXN_AMT_L3M,NET_FLOW_TXN_AMT,MAX_NET_FLOW_TXN_AMT_L3M,AVG_CASH_CR_TXN_AMT_COVR_L3M,AVG_CR_TXN_AMT_VS_OS_L3M,SERVICE_AMT,MIN_SERVICE_AMT_L3M,NUM_CASH_TXN,NUM_NON_CASH_TXN,TOTAL_NUM_TXN,TOTAL_NUM_TXN_L3M,TOTAL_NUM_NON_CASH_TXN_L3M,AVG_NUM_NON_CASH_TXN_CVR_L3M"
#COLLATERAL
column = "RPT_DT_DIM_ID,PROCESS_DATE,CST_DIM_ID,CUSTOMER_ID,CLT_DIM_ID,COLLATERAL_ID,COLLATERAL_TP,COLLATERAL_CATEGORY_CODE,COLLATERAL_CATEGORY_DESC,DESCRIPTION,TINH_THANH,CCY_DIM_ID,CCY,COLL_VAL,COLL_VAL_TPB,ORG_DT,LAST_DT,REVISION_DATE,EXPIRE_DATE,MATURITY_DATE,CUSTOMER_SHARE,CUST_SHARE_VALUE,COLLATERAL_AGE,COLLATERAL_STATUS,UNDER_CONSTRUCTION,COVENANT_NAME,HAIRCUT,LIMIT_CTB, RI_TYPE_ID"
# CST_LN
column = "RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,PROCESS_DATE,OS_ONBS,OS_ONBS_L3M,OS_ONBS_L6M,AVG_OS_ONBS,AVG_OS_ONBS_L3M,AVG_OS_ONBS_L6M,OS,OS_L3M,OS_L6M,AVG_OS,AVG_OS_L3M,AVG_OS_L6M,OS_REVL,OS_NON_REVL,OS_REVL_L6M,OS_NON_REVL_L6M,AVG_OS_REVL,AVG_OS_NON_REVL,AVG_OS_REVL_L6M,AVG_OS_NON_REVL_L6M,MAX_OS_ONBS_L6M,VOL_OS_L6M,NUM_CR_PRODUCT,NUM_CR_PRODUCT_L3M,MTH_DBT_SVC,MTH_DBT_SVC_L3M,MTH_DBT_SVC_L6M,MOB,IS_MOB_6M,CNT_MTH_ONBS_L3M,CNT_MTH_ONBS_L6M,CNT_MTH_ONBS_L12M,COLL_VAL,COLL_VAL_CTR,TOTAL_COLL_L3M,TOTAL_COLL_CTR_L3M,AVG_COLL_COVR_OS_ONBS_L3M,CUST_LMT,COLL_COVR_LMT,AVG_OS_ONBS_UTIL_L3M,REVL_UTL_RT,AVG_REVL_UTL_RT_L3M,REVL_LMT,OS_BOND,OS_BOND_L3M,OS_BOND_L6M,AVG_OS_BOND,AVG_OS_BOND_L3M,AVG_OS_BOND_L6M,OS_MM,OS_MM_L3M,OS_MM_L6M,AVG_OS_MM,AVG_OS_MM_L3M,AVG_OS_MM_L6M,OS_NON_ONBS,OS_NON_ONBS_L3M,OS_NON_ONBS_L6M,AVG_OS_NON_ONBS,AVG_OS_NON_ONBS_L3M,AVG_OS_NON_ONBS_L6M"
# CST_CC
column ="MONTH_ID,RPT_DT_DIM_ID,CST_DIM_ID,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD,MTH_SNC_30DPD,MTH_SNC_60DPD,MTH_SNC_90DPD,NUM_TM_10DPD,NUM_TM_30DPD,NUM_TM_60DPD,NUM_TM_90DPD,AVG_UTIL_CC_RATE,PROCESS_DATE"
# CST_CC_TXN
column = "PROCESS_DATE,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,GROSS_PAYMENT_LAGGED_1M,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD_DT_L6,MTH_SNC_30DPD_DT_L6,MTH_SNC_60DPD_DT_L6,MTH_SNC_90DPD_DT_L6,MTH_SNC_10DPD_L6,MTH_SNC_30DPD_L6,MTH_SNC_60DPD_L6,MTH_SNC_90DPD_L6,NUM_TM_10DPD_L6,NUM_TM_30DPD_L6,NUM_TM_60DPD_L6,NUM_TM_90DPD_L6,AVG_UTIL_CC_RATE,AVG_UTIL_CC_RATE_L3M,AVG_UTIL_CC_RATE_L6M,NBR_TXN_CC,NBR_TXN_CC_L3M,NBR_TXN_CC_L6M,NBR_CASH_TXN,NBR_CASH_TXN_L3M,NBR_CASH_TXN_L6M,CASH_TXN_RT,CASH_TXN_L3M_RT,CASH_TXN_L6M_RT,NBR_POS_TXN,NBR_POS_TXN_L3M,NBR_POS_TXN_L6M,POS_TXN_RT,POS_TXN_L3M_RT,POS_TXN_L6M_RT,NBR_ONL_TXN,NBR_ONL_TXN_L3M,NBR_ONL_TXN_L6M,ONL_TXN_RT,ONL_TXN_L3M_RT,ONL_TXN_L6M_RT,CASH_AMT_TXN_L3M,CASH_AMT_TXN_L6M,POS_AMT_TXN_L3M,POS_AMT_TXN_L6M,ONL_AMT_TXN_L3M,ONL_AMT_TXN_L6M,CASH_AMT_TXN,POS_AMT_TXN,ONL_AMT_TXN"

In [5]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
#column = "PROCESS_DATE,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,GROSS_PAYMENT_LAGGED_1M,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD_DT_L6,MTH_SNC_30DPD_DT_L6,MTH_SNC_60DPD_DT_L6,MTH_SNC_90DPD_DT_L6,MTH_SNC_10DPD_L6,MTH_SNC_30DPD_L6,MTH_SNC_60DPD_L6,MTH_SNC_90DPD_L6,NUM_TM_10DPD_L6,NUM_TM_30DPD_L6,NUM_TM_60DPD_L6,NUM_TM_90DPD_L6,AVG_UTIL_CC_RATE,AVG_UTIL_CC_RATE_L3M,AVG_UTIL_CC_RATE_L6M,NBR_TXN_CC,NBR_TXN_CC_L3M,NBR_TXN_CC_L6M,NBR_CASH_TXN,NBR_CASH_TXN_L3M,NBR_CASH_TXN_L6M,CASH_TXN_RT,CASH_TXN_L3M_RT,CASH_TXN_L6M_RT,NBR_POS_TXN,NBR_POS_TXN_L3M,NBR_POS_TXN_L6M,POS_TXN_RT,POS_TXN_L3M_RT,POS_TXN_L6M_RT,NBR_ONL_TXN,NBR_ONL_TXN_L3M,NBR_ONL_TXN_L6M,ONL_TXN_RT,ONL_TXN_L3M_RT,ONL_TXN_L6M_RT,CASH_AMT_TXN_L3M,CASH_AMT_TXN_L6M,POS_AMT_TXN_L3M,POS_AMT_TXN_L6M,ONL_AMT_TXN_L3M,ONL_AMT_TXN_L6M,CASH_AMT_TXN,POS_AMT_TXN,ONL_AMT_TXN"
query = text("SELECT * FROM DMT.VW_IFRS9_CTR_CL WHERE PROCESS_DATE = '2024-01-31'")#.format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CTR_CL'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Specify your batch size
batch_size = 100000
for chunk in pd.read_sql_query(query, engine, chunksize=batch_size):
    # Push each batch to MSSQL
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

print("Data import completed.")

Data import completed.

In [7]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
#column = "PROCESS_DATE,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,GROSS_PAYMENT_LAGGED_1M,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD_DT_L6,MTH_SNC_30DPD_DT_L6,MTH_SNC_60DPD_DT_L6,MTH_SNC_90DPD_DT_L6,MTH_SNC_10DPD_L6,MTH_SNC_30DPD_L6,MTH_SNC_60DPD_L6,MTH_SNC_90DPD_L6,NUM_TM_10DPD_L6,NUM_TM_30DPD_L6,NUM_TM_60DPD_L6,NUM_TM_90DPD_L6,AVG_UTIL_CC_RATE,AVG_UTIL_CC_RATE_L3M,AVG_UTIL_CC_RATE_L6M,NBR_TXN_CC,NBR_TXN_CC_L3M,NBR_TXN_CC_L6M,NBR_CASH_TXN,NBR_CASH_TXN_L3M,NBR_CASH_TXN_L6M,CASH_TXN_RT,CASH_TXN_L3M_RT,CASH_TXN_L6M_RT,NBR_POS_TXN,NBR_POS_TXN_L3M,NBR_POS_TXN_L6M,POS_TXN_RT,POS_TXN_L3M_RT,POS_TXN_L6M_RT,NBR_ONL_TXN,NBR_ONL_TXN_L3M,NBR_ONL_TXN_L6M,ONL_TXN_RT,ONL_TXN_L3M_RT,ONL_TXN_L6M_RT,CASH_AMT_TXN_L3M,CASH_AMT_TXN_L6M,POS_AMT_TXN_L3M,POS_AMT_TXN_L6M,ONL_AMT_TXN_L3M,ONL_AMT_TXN_L6M,CASH_AMT_TXN,POS_AMT_TXN,ONL_AMT_TXN"
query = text("SELECT * FROM DMT.VW_IFRS9_CTR_OD WHERE PROCESS_DATE = '2024-01-31'")#.format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CTR_OD'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Specify your batch size
batch_size = 100000
for chunk in pd.read_sql_query(query, engine, chunksize=batch_size):
    # Push each batch to MSSQL
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

print("Data import completed.")

Data import completed.

In [8]:
import pandas as pd
import sqlalchemy
import os
import glob
import numpy as np
from sqlalchemy.types import VARCHAR, FLOAT, Date, INT

import ibm_db_sa
from sqlalchemy import create_engine, text
from urllib.parse import quote
import pandas as pd

# Your existing code for connecting to DB2
pw = 'Tpbrm1@12345'
encoded_password = quote(pw)
engine = create_engine(f'ibm_db_sa://tpbrm1:{encoded_password}@10.1.50.25:50000/bludb')
connection = engine.connect()
#column = "PROCESS_DATE,CUSTOMER_ID,CYCLE_END_DATE,BAL_AT_CYCLE_END,BAL_AT_END_MONTH,GROSS_PAYMENT_LAGGED,GROSS_PAYMENT_INMONTH,GROSS_PAYMENT_LAGGED_1M,AVG_CC_PMT_VS_STM_BAL,AVG_CC_AMT,NBR_USED_CC,MTH_SNC_10DPD_DT_L6,MTH_SNC_30DPD_DT_L6,MTH_SNC_60DPD_DT_L6,MTH_SNC_90DPD_DT_L6,MTH_SNC_10DPD_L6,MTH_SNC_30DPD_L6,MTH_SNC_60DPD_L6,MTH_SNC_90DPD_L6,NUM_TM_10DPD_L6,NUM_TM_30DPD_L6,NUM_TM_60DPD_L6,NUM_TM_90DPD_L6,AVG_UTIL_CC_RATE,AVG_UTIL_CC_RATE_L3M,AVG_UTIL_CC_RATE_L6M,NBR_TXN_CC,NBR_TXN_CC_L3M,NBR_TXN_CC_L6M,NBR_CASH_TXN,NBR_CASH_TXN_L3M,NBR_CASH_TXN_L6M,CASH_TXN_RT,CASH_TXN_L3M_RT,CASH_TXN_L6M_RT,NBR_POS_TXN,NBR_POS_TXN_L3M,NBR_POS_TXN_L6M,POS_TXN_RT,POS_TXN_L3M_RT,POS_TXN_L6M_RT,NBR_ONL_TXN,NBR_ONL_TXN_L3M,NBR_ONL_TXN_L6M,ONL_TXN_RT,ONL_TXN_L3M_RT,ONL_TXN_L6M_RT,CASH_AMT_TXN_L3M,CASH_AMT_TXN_L6M,POS_AMT_TXN_L3M,POS_AMT_TXN_L6M,ONL_AMT_TXN_L3M,ONL_AMT_TXN_L6M,CASH_AMT_TXN,POS_AMT_TXN,ONL_AMT_TXN"
query = text("SELECT * FROM DMT.VW_IFRS9_CTR_LC WHERE PROCESS_DATE = '2024-01-31'")#.format(column))
result = connection.execute(query)
df = pd.read_sql(query, engine)

# Your existing code for connecting to SQL Server
sqlserver_server = 'VM-DC-JUMPSRV77\IFRS9'
sqlserver_database = 'EWS'
sqlserver_user = 'rdm_admin'
sqlserver_pw = '2024#tpb'
sqlserver_driver = '{SQL Server}'
tablename = 'IFRS9_CTR_LC'
sqlserver_cnxn_str = f"DRIVER={sqlserver_driver};SERVER={sqlserver_server};DATABASE={sqlserver_database};UID={sqlserver_user};PWD={sqlserver_pw}"

# Connect to SQL Server using SQL Server Driver
cnxn = create_engine(f"mssql+pyodbc:///?odbc_connect={quote(sqlserver_cnxn_str)}")

# Specify your batch size
batch_size = 100000
for chunk in pd.read_sql_query(query, engine, chunksize=batch_size):
    # Push each batch to MSSQL
    chunk.to_sql(tablename, con=cnxn, if_exists='append', index=False)

print("Data import completed.")

Data import completed.